
header {
    background-color: rgb(112, 112, 214); /* Establece el fondo azul del header */
}

.header-container {
    display: grid;
    grid-template-columns: auto repeat(3, 1fr);
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.header-container img {
    max-width: 100%;
}

li {
    list-style: none;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    margin: 0;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: rgb(137, 130, 7);
    padding: 20px;
}

.producto {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    
    /* Añade flexbox para centrar elementos en cada cuadrícula */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* Agrega margen alrededor del elemento */
    margin: 10px;
}

.producto img {
    max-width: 100%;
    height: auto;
}

